FLOW 1.txt
[
    {
        "id": "e1c94f14.f2d45",
        "type": "tab",
        "label": "Flow 2"
    },
    {
        "id": "64fde4c9.eec0cc",
        "type": "rpi-gpio in",
        "z": "e1c94f14.f2d45",
        "name": "Button",
        "pin": "7",
        "intype": "up",
        "debounce": "25",
        "read": true,
        "x": 130,
        "y": 140,
        "wires": [
            [
                "33c4cd61.b83a52",
                "c8563191.1d019"
            ]
        ]
    },
    {
        "id": "2a1c3da7.1d4f02",
        "type": "rpi-gpio out",
        "z": "e1c94f14.f2d45",
        "name": "LED",
        "pin": "11",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 630,
        "y": 140,
        "wires": []
    },
    {
        "id": "33c4cd61.b83a52",
        "type": "switch",
        "z": "e1c94f14.f2d45",
        "name": "if input is 1",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 286,
        "y": 141,
        "wires": [
            [
                "8b08c625.8e5d48"
            ],
            [
                "cd8be4ee.128c38"
            ]
        ]
    },
    {
        "id": "8b08c625.8e5d48",
        "type": "change",
        "z": "e1c94f14.f2d45",
        "name": "Change to 0",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 140,
        "wires": [
            [
                "2a1c3da7.1d4f02"
            ]
        ]
    },
    {
        "id": "cd8be4ee.128c38",
        "type": "change",
        "z": "e1c94f14.f2d45",
        "name": "Change to 1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 200,
        "wires": [
            [
                "2a1c3da7.1d4f02"
            ]
        ]
    },
    {
        "id": "c8563191.1d019",
        "type": "debug",
        "z": "e1c94f14.f2d45",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 350,
        "y": 60,
        "wires": []
    }
]